body,html{
  height: 100%;
  background-color: #fff !important;
  font-family:Cochin, Georgia, Times, 'Times New Roman', serif !important;
  color: #242428 !important;
  font-size: 10px !important;
  /*overflow: hidden;*/
  /*font:16px/26px Helvetica, Helvetica Neue, Arial;*/
}

#__next{
  height: 100%;
}

a {
  color: #337ab7;
  text-decoration: none !important;
}

.hidden { display:none; }



.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* .search{
  padding: 10px;
  margin: 0px;
}
.search input{
  width: 100%;
  height: 20px;
  font-size: 12px;
}
 */
.searchinput{
  width:300px;
  position: absolute;
  z-index:999;
  margin:2px 0 0 2px;
}

.map{
  position: relative;
}

.map-create-place{
  width: 50%;
  top: calc(50% - 50px);
  left:calc(50% /2);
  position: absolute;
  z-index: 2000;
  display:none;
}

.map-create-place h6{
  color:#212529 !important; 
  font-size: 1rem;
}

.map-create-place span{
  cursor: pointer;
  text-decoration: underline;
  color: #007bff;
  font-size: 13px;
  padding-right: 20px;
}

.map-create-place button {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	color: rgba(30, 136, 229, 0.6);
	transition: background-color 0.4s ease 0s;
	border: medium none;
	outline: currentcolor none medium;
	background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  cursor: pointer;
  padding: 4px;
}

.map-create-place button:hover {
	background:#f5f3f3 none repeat scroll 0% 0%;
}


.mypos{
  bottom: 20px;
  left:20px;
  cursor:pointer;
  position: absolute;
  z-index: 1000;
}
input[type=file] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.h-60{
  height: 60%;
}

.h-100-50{
  height: calc(100% - 50px);
}

.h-100-10{
  height: calc(100% - 10px);
}

.h-100{
  height: 100%;
}

.h-70{
  height: 70%;
}

.h-90{
  height: 87%;
}

.w-100{
  width: 100%;
}

w-100{
  width: 50%;
}

.h-100-scroll{
  height:100%;
  overflow-y: auto;
}


.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.btn-squared{
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
.btn-circle{
  width: 23px;
  height: 23px;
  padding: 3px 0px;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.stars span{
  font-size: 8px;
}
.margintop{
  margin-top:10px
}

.marginbottom{
  margin-bottom:10px
}

.absoluto{
  position: absolute;
  z-index: 1000;
}

.starsmodal span{
  font-size: 10px;
}

.starsmodal{
  line-height:2px !important;
  padding: 0 1px 0 1px;
}
/*"white","gold","amber","red","brown", "dark"*/

.btn-white, .btn-white:hover, .btn-white:active, .btn-white:visited {
  color: #FFE681 !important;
}

.btn-gold, .btn-gold:hover, .btn-gold:active, .btn-gold:visited {
  color: #FFC625 !important;
}

.btn-amber, .btn-amber:hover, .btn-amber:active, .btn-amber:visited {
  color: #f26a37 !important;
}

.btn-red, .btn-red:hover, .btn-red:active, .btn-red:visited {
  color: #D52027 !important;
}

.btn-brown, .btn-brown:hover, .btn-brown:active, .btn-brown:visited {
  color: #A94124 !important;
}

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
  color: #2E0000 !important;
  background-color: transparent;
}

.vertical-menu .btn{
  border:0 !important;
  color:white;
}

/*.vertical-menu button{
  font-size:1px !important;
}*/

.marginb {
  margin-left: 2px;
}

.marginp {
  margin: 5px;
}

.toastcontent{
  font-size: 13px;
}

.toastcontent .row{
  margin-top:10px;
}

.tipobar .row button,p{
  margin:0 auto;
}

.leyenda_titulo{
  color:#08c;
  text-decoration: underline;
  margin:0 0 10px 0;
}

.popup_titulo{
  margin:0 0 10px 0;
}

.bt-toast{
  font: inherit;
}

.leyenda{
  font-size: 12px;
  color:#08c;
  cursor:pointer;
  line-height: 0px;
  margin-left: 5px;
}

.leyendaplus{
  font-size: 11px;
  color:#08c;
  cursor:pointer;
}

.tith5{
  font-size: 18px;
  text-decoration: bold;
}

.list-group-flush .list-group-item:first-child{
  border-top: 1px solid rgba(0,0,0,.125);
}

.card-title{
  margin-top:0;
}

h5 {
  margin-top:0px;
}

.navbar-light {
  background-color: #f8f9fa ;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.navbar-collapse{
  background-color: #f8f9fa ;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  
  margin-top:20px;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  font-size: 1.4rem;
  padding-bottom: 10px;
  color: #ccc;
  margin: 0;
}

.forgot-password2 a {
  color: #167bff;
  font-size: 1.4rem;
}

.accion{
  line-height: 45px;
  cursor: pointer;
}

.list-group-item {
  background-color: transparent !important;
  border: 0 !important;
  padding:0 10px 0 0;
}

.margin0{
  margin:0px 0 0 0px
}

#menuTools {
  position:absolute;
  margin: .5rem 0 0 .5rem;
  z-index: 1000;
}

#menuToolsIframe {
  position:absolute;
  margin: .5rem 0 0 .5rem;
  z-index: 1000;
}

.leaflet-top .leaflet-control{
  margin-top: .5rem !important;
}

.iframediv .leaflet-top{
  top:calc(50% - 108px) !important;
}

#menuTools div{
flex-direction: column;
}

.directionsprov{
  position:absolute;
  left:50%;
  top:10px;
  z-index: 1000;
}

.dropdown .btn{
  color: #495057 !important;
}

/* esto elimina la flechita de los menu toglle*/
.dropdown-toggle::after {
  display:none;
}

.nopointer{
  cursor: default !important;
}

.leaflet-popup-content{
  width: 30rem !important;
}

.popupMode{
  padding-left: 0px !important;
}

.btn-grupo{
  flex-direction: column;
  margin-bottom: 0.8rem;
  display: flex;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.25);
  border-radius: .8rem;
}

.btn-grupo button{
  background-color: white;
  color: black;
  border-color: #ccc !important; 
  height: 2.8rem;
  width: 2.8rem;
  cursor: pointer;
  border: none !important;
  border-bottom: 0.1rem solid #ccc !important;
  border-radius: 0;
  padding: 0.4rem;
}
.textrotate {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(90deg);
}

.dropdown-menu{
  margin-left: 30px;
}


.Dropdown .btn{
  padding: 0 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}


input[type="button"] {
  border: none !important;
  outline: none !important;
}

.btn-warning {
  background-color: transparent !important;
  color: black;
  border-color: #c69500;
}

.btn-success.active {
  background-color: #dc3545 !important;
  color: black;
  border-color: #c69500;
}

.btn-success {
  background-color:#dc3545 !important;
  color: #495057;
  border-color: #ccc;
}

.btn-success:hover {
  background-color: #dc3545 !important;
  color: #495057;
  border-color: #c69500;
}

.btn-warning.active {
  background-color: #dc3545 !important;
  color: black;
  /*color: #fff !important;*/
}

.btn-light {
  color: #495057 !important;
}

.btn-light:focus{
  background-color:white !important;
}
.btn-light:hover {
  background-color:white !important;
}

.btn-light.active {
  background-color: #24B8AA !important;
  color: white !important;
}

.btn-outline-primary {
  color: #495057 !important;
  border: 1px solid #6c757d !important;
  margin-bottom: 10px;
}

.btn-outline-primary:focus{
  background-color:white !important;
  border: 1px solid #6c757d !important;
}
.btn-outline-primary:hover {
  background-color:white !important;
  border: 1px solid #6c757d !important;
}

.btn-outline-primary.active {
  background-color: #6c757d !important;
  color: white !important;
  border: 1px solid #6c757d !important;
}

.dropdown-header{
  font-size: 1rem !important;
}

.dropdown-itemcolor{
  color: #495057 !important;
  font-size: 1.3rem;
}

.dropdown-item{
  color: #495057 !important;
  font-size: 1.3rem;
}

.dropdown-item:focus{
  background-color: white !important;
}

.dropdown-item:hover{
  background-color: white !important;
}

.dropdown-item.active{
  background-color: #24B8AA !important;
  color: white !important;
}

.logo{
  color:#6c757d;
  
  font-size: 20px;
}

.edit-profile{
  font-size: 1.4rem;
}

.btn-danger{
  font-size: 1.4rem !important;
}

.btn-light:first-child{
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  border-top: none !important;
}

.btn-light:last-child{
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
  border-bottom: none !important;
}

.form-horizontal .form-group .control-label {
  padding-top: 0px;
  font-size: 1.2rem;
}
.form-horizontal .form-group .control-label2 {
  padding-top: 0px;
  font-size: 1rem;
}

.modalperfil_title{
  font-size: 2rem;
}

.modalperfil_fila{
  margin-top: 5px;
}
.modalperfil_botones{
  margin-top: 25px !important;
}

.react-responsive-modal-modal{
  z-index: 20;
}

.editor-footer{
  margin-top: 5px;
}

.editor-footer span{
  font-size: 1.2rem !important;
}

.editor-footer svg{
  margin-right: .5rem;
  margin-left: .5rem;
}

.form-horizontal .modalperfil_title3 svg{ 
  margin-right: 10px;
}
.form-horizontal .modalperfil_title3{ 
  margin-top:25px;
  font-size: 1.2rem; 
  margin-bottom: 10px;
}

.form-horizontal .modalperfil_title2 svg{ 
  margin-right: 10px;
}

.form-horizontal .modalperfil_title2{ 
    margin-top:25px;
    font-size: 1.5rem; 
    margin-bottom: 10px;
}
.form-horizontal .modalperfil_title2:first-child{
    margin-top:0px;
}

.inputGroupContainer{
  margin-top: 5px;
}

.form-group{
  margin-bottom:0px;
}

.botonesPerfil{
  top:2px;
  margin-left:2px;
  position:absolute;
  z-index: 200000;
}

.botonesPerfil button{
    cursor: pointer !important;
    color: black !important;
}

.abrirPerfil{
  position:absolute;
  bottom:5px;
  left:5px;
  z-index: 10000000;
}

.cookiesdiv{
  position: absolute !important;
  z-index: 100000000;
  background-color:rgba(200, 200, 200, 0.9);
  width:100%; 
}

.modalAnnotation{
  font-size: 1.3rem;
}

.modalAnnotation button{
  font-size: 1.3rem;
}

#menuPerfil {
  position:absolute;
  bottom:5px;	
  /*height:30%;*/
  -webkit-transition: width 0.3s ease, margin 0.3s ease;
  -moz-transition: width 0.3s ease, margin 0.3s ease;
  -o-transition: width 0.3s ease, margin 0.3s ease;
  transition: width 0.3s ease, margin 0.3s ease;
  z-index: 10000;
}

.modalimportar{
  font-size: 1.3rem;
}

.checkboxradio{
  text-align: left !important;
}

.modalimportar label{
  font-size: 1.1rem;
  background-color: #eee;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#menuDatos {
  position:absolute;
  top:5px;	
  padding-left:5px;
  padding-right: 5px;
  
  -webkit-transition: width 0.3s ease, margin 0.3s ease;
  -moz-transition: width 0.3s ease, margin 0.3s ease;
  -o-transition: width 0.3s ease, margin 0.3s ease;
  transition: width 0.3s ease, margin 0.3s ease;
  z-index: 10000;
}

/*esto hace que el perfil de google chart no sea transparente*/
#chart_div2 svg path{
  fill-opacity: 0.7;
  /*stroke-width:2;
  stroke:#fffe02;*/
}


.loading_center{
  position:absolute;
  width:80%;
  height: 80%; 
  left:10%;
  top:10%;
  z-index:1000000;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: transparent;
  /*opacity: 0.5;*/
}



.menuDatos {
  /*border-top:1px solid #eee;
  border-bottom:1px solid #eee;*/
}

.border-bottom{
  border-bottom:1px solid #eee;
}

.cajablanca{
    background:rgb(255, 255, 255) none repeat scroll 0% 0%;
    border-radius: 3px;
    box-shadow:
    rgba(37, 42, 49, 0.16) 0px 0px 2px 0px,
    rgba(37, 42, 49, 0.12) 0px 1px 4px 0px;
    outline: currentcolor none 0px;
    transition: box-shadow 0.15s ease-in-out 0s;
    font-size: 14px;
}

.dato-box{
  text-align: center;
}

.dato-valor{
  font-size: 1.4rem;
  color: #999;
}

.dato-unit{
  color: #999;
  font-size: 1.2rem;
  padding-left: 3px;
}



.dato-text{
  color: #495057;
  font-size: 1.3rem;
}

.dato-text2{
  color: #495057;
  font-size: 1.3rem;
}

.table{
  color:#495057 !important; 
}

.colorGris{
  color:#495057;
}

.dato-icon img{
  width: 40px;
}
.dato-icon {
  color:#999;
}

.border-left{
  border-left:1px solid #eee !important;
}

.border-right{
  border-right:1px solid #eee !important;
}

.textareamodal{
  width: 100%;
  display: inline !important;
  font-size: 1.4rem;
}

.figure {
  background-color: white;
  border: 2px solid lightgray;
  width: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0px;
  cursor: pointer;
}

.figure:hover {
  background-color: #ECEFF1;
  border: 2px solid black
}

.iconsAnnotations{
  width:30px;
}

.iconsAnnotations:hover, .activeicon{
  border: 1px solid #ccc;
}



.btn-modal {
  background-color: #fff;
  border:1px solid #dfdfe8 !important;
  color:#242428;
}


/** TAMAÑO ICONO CAPAS LEAFLET */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 30px !important;
  height: 30px !important;
}

.progress-bar-legend{
  height: 5px;
}

.toastInfo{
  color:#242428;
}


#tramo { font-size: 1.3rem}
#tramo .progress { cursor: help;}
#tramo .click { 
  cursor: help;
  padding: 0;
}
#tramo .margenes{ padding-left:1rem;padding-right: 1.5rem;}
#tramo .margenes:first-child{ padding-left:0px;padding-right: 1.5rem;}
#tramo .margenes:last-child{ padding-left:1.5rem;padding-right: 0px;}
.tramos{
  padding: 0 15px 15px 15px;
  min-height: 40px;
}

.tramoJoin{
  padding:0 10px 0 80px;
  margin-bottom: 10px;
  background-color: white !important;
  cursor: help;
}
#tramoJoin .progress { cursor: help;}
#tramoJoin .click { 
  cursor: help;
  padding: 0;
}
#tramoJoin { padding-left:1rem;padding-right: 1.5rem;}
#tramoJoin:first-child{ padding-left:0px;padding-right: 1.5rem;}
#tramoJoin:last-child{ padding-left:1.5rem;padding-right: 0px;}


.card1{
  background-color: lightblue;
  cursor: pointer;
  
}

.card2{
  background-color:lightgoldenrodyellow;
  cursor: pointer;
}

.card{
  font-size: 1.3rem;
}

.inputsRuta input{
  font-size: 1.5rem;
}
.inputsRuta textarea{
  font-size: 1.5rem;
  margin-top: 1rem;
}

.login .form-group{
  font-size: 1.7rem;
}

.login .form-control{
  font-size: 1.5rem;
  margin-top: 0.8rem;
  margin-bottom: 1.2rem;
}

.login button{
  font-size: 1.5rem;
}

.login p{
  font-size: 1.2rem;
}

.login div{
  font-size: 1.5rem;
}

.login h3{
  font-size: 2.8rem;
}

.alert-link {
  color: #0b2e13;
}

.alert{
  font-size: 1.5rem;
}

.login .alert{
  font-size: 1.6rem;
}

.login .alert-danger{
  font-size: 1.6rem;
}

.lovelo_slogan{
  height: 70%;
  flex-direction: column;
  color:#eee;
}

.lovelo_slogan a{
  color:#eee;
}

.lovelo_slogan h1{
  line-height: 1.25;
  font-weight: 600;
  font-size: 3rem;
}

.lovelo_slogan h2{
  line-height: 1.25;
  font-weight: 500;
  font-size: 1.6rem;
}

.lovelo_slogan #cover-caption {
  margin-top: 6rem;
  margin-bottom: 3rem;
}



#cover {
  background: #222 url('https://himae.com/lovelo/ws/fondos/index.php') center center no-repeat;
  
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

#covernoback {
  background-size: cover;
  text-align: center;
  align-items: center;
  position: relative;
  height: 100%;
}

#cover .form-group{
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#cover .form-control{
  font-size: 1.5rem;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}


.fondocuadro{
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
}
.hrlogin{
  margin-top: 3rem;
  color:#ccc;
}

#edit .form-group{
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#edit .form-control{
  font-size: 1.5rem;
}

.opcionruta{
  cursor: pointer;
}

.resalta{
  color:#dc3545;
  margin-left: 0.3rem;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border: none !important;
  background: transparent;
  padding: 0; }
  input[type=range]:focus {
    outline: none; }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.3rem;
    cursor: pointer;
    background: #eee;
    border-radius: 5px; }
  input[type=range]::-webkit-slider-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    background: #24B8AA;
    border-color:transparent;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.35rem; }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 0.3rem;
    cursor: pointer;
    background: #eee;
    border-radius: 5px; }
  input[type=range]::-moz-range-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    border-color:transparent;
    background: #24B8AA;
    cursor: pointer; }
  input[type=range]::-ms-track {
    width: 100%;
    height: 0.3rem;
    cursor: pointer;
    background: transparent;
    color: transparent; }
  input[type=range]::-ms-fill-lower {
    background: #e1e1e1;
    border-radius: 10px; }
  input[type=range]::-ms-fill-upper {
    background: #eee;
    border-radius: 10px; }
  input[type=range]::-ms-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    border-color:transparent;
    background: #24B8AA;
    cursor: pointer; }
  input[type=range]:focus::-ms-fill-lower {
    background: #eee; }

    .form-control-color{
      width: 100% !important;
    }

    .form-control:focus{
      box-shadow: none !important;
    }

    .file_upload{
      width: 100%; height: 100px; border: 2px dashed #ddd; border-radius: 3px; cursor: pointer; text-align: center; overflow: hidden; padding: 5px; margin-top: 5px; margin-bottom : 5px; position : relative; display: flex; align-items: center; margin: auto; justify-content: center; flex-direction: column;
    }

    .link{
      position: absolute !important; right: 3px; top: 3px; background: #dc3545 none repeat scroll 0% 0%; border-radius: 3px; width: 30px; height: 30px; line-height: 30px; text-align: center; text-decoration: none; color: rgb(255, 255, 255);
    }

    .image{
      margin-bottom: 20px;
    }

    .imagen{
      width: 64px; margin: 0px auto; vertical-align: middle; display: none;
    }
    .imagen2{
      width: 100%; vertical-align: middle;
    }
    .imagen3{
      height: 100px;
    }


    .tituloruta .nombre{
      font-size: 2.5rem;
    }

    
    
    .subnombre{
      font-size: 1.3rem;
      color:#495057;
      margin-top: 1rem;
      margin-bottom: 1rem;
      line-height: 1.5;
    }
    .subnombre img{
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
    .subnombre svg{
      margin-top: 2px;
      margin-right: 5px;
    }
    
    .subnombreSearch{
      font-size: 1rem;
      color:#999;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .subnombreSearch span{
      margin-left: 0rem;
    }

    .subnombreuser span {
      margin-left: 0.5rem;
    }

    

    


    .negro{
      color:#333;
    }
    .botonruta{
      cursor: pointer;
      color:#24B8AA;
    }
    .botonruta span{
      color:#24B8AA;
    }
    .subtitulosruta{
      font-size: 1.5rem;
      color:#999;
    }
    .hrnomargin{
      margin: 0 !important;
      padding: 0 !important;
    }
    .comentarios{
      font-size: 1.5rem;
      text-align: left;
    }
    .descripcion{
      font-size: 1.8rem;
      text-align: left;
    }



    /***PROFILE**/
    .rutasprofile .row{
      padding: 0.4rem 0 0.4rem 0;
    }

    .indice{
      font-size: 1.4rem;
      font-weight: 600;
    }

       
    .table-user-information tbody tr:first-child td {
      
    }

    .rutasprofile{
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .save-profile{
        color: #337ab7;
        text-decoration: none;
        cursor:pointer;
        font-size: 1.4rem;
    }

.picker{
    color:#495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width:100%;
}

.react-datepicker {
  font-size: 1.2rem !important;
}

.pointer{
  cursor:pointer;
}

.description{
  margin-top: 5px;
  font-size: 1.5rem;
  width:100%;
}

.buttonSearch{
  font-family: initial !important;
  background-color: white;
  font-size: 1.4rem !important;
  border-radius: 21px;
  box-shadow: 0 2px 5px -1px rgba(0,0,0,.3);
  padding: 8px 16px;
  color:#495057;
  border:none;
}

.leaflet-left{
  left:calc(50% - 80px) !important;
}

.buttonSearch img{
  margin-right: 8px !important;
  margin-bottom: 4px !important;
}

.buttonSearch span{
}

.numrutas{
  
  padding-left:15px !important;
  font-size: 1.2rem;
  color:#24B8AA;
  padding-top: 5px;
}

.order{
  background-color: #24B8AA;
  color:white;
}

.page-item.active .page-link{
  background-color: #24B8AA;
  border-color: #999;
  
}

.page-item .page-link{
  background-color: white;
  color:#999;
  margin-right: 10px;
  font-size: 1.1rem !important;
  font-weight: 600;
  padding:10px;
}

.Pagination{
  display: "flex";
  justify-content: "center";
  margin-top: 5px;
}

.cabeceraSearch{
  padding-top: 10px;
  line-height: 1;
}

select.form-control:hover,select.form-control:active {
  background-color: white !important;
  color: #24B8AA !important; 
}

select.form-control option{
  background-color: white !important;
  color: #24B8AA !important; 
}

select.form-control option:hover{
  color: white !important;
  background-color: #24B8AA !important; 
}

select.form-control {  
  background-color: white !important;
  color: #24B8AA !important; 
  border-color: #24B8AA !important; 
}

.rutaSearchContent{
  border-bottom: 1px solid #e8eaed;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  cursor: pointer;
  margin: 0px;
}

.rutaSearchContent .row:first{
  padding: 15px;
  
}

.rutaSearchContent:hover{
  background-color: #eee;
}

.RutaSearchTitle{
  color:#495057;
  font-size: 1.5rem;
  font-weight: 600;
}

.pintar_mapa div{
  color:#999;
  font-size: 1.1rem;
  margin: 0 0 5px 0;
  border-radius: .2rem;
  border: 1px solid #ccc;
}

.pintar_mapa span{
  text-decoration: underline;
}

.tag3{
  cursor: pointer;
  
  font-size:0.9rem;
  line-height: 1;
  margin-top:5px;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.tag3 .tagnoactive{
  color: #1d4159;
  background: #e2eaef;
  border-radius: .4rem;
  padding: 0.7rem;
  display: inline-block;
}

.tag3 .tagactive{
  background: #6c757d;
  border-radius: .4rem;
  color: #fff;
  padding: 0.7rem;
  display: inline-block;
}

.tag3 span{
  margin-left:2px;
}

.Tag3Title{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 7px;
}

.tag {
  background: #999;
  border-radius: .2rem;
  color: #fff;
  font-size:0.9rem;
  line-height: 1;
  padding: .3em .5em .3em;
  display: inline-block;
  margin-right: 5px;
}
.tag span{
  margin-left:2px;
}

.tag2 {
  /*background: #aaa;*/
  border-radius: .2rem;
  color: #999 !important;
  font-weight: 600;
  font-size:0.7rem;
  line-height: 1;
  padding: 0;
  display: inline-block;
}
.tag2 span{
  margin-left:2px;
}

.btn-outline-danger{
  border:none !important;
  padding: 0px;
  color:#999 !important;
}

.btn-outline-danger:hover{
  border:none !important;
  background-color: transparent !important;
  color:#24B8AA  !important;
}
.btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show > .btn-outline-danger.dropdown-toggle{
  border:none !important;
  background-color: transparent !important;
  color:#24B8AA !important;
}
.btn-outline-danger:active{
  border:none !important;
  background-color: transparent !important;
  color:#24B8AA  !important;
}

.btn-danger{
  background-color: #24B8AA !important;
  border-color: #24B8AA !important;
  color:white !important;
}

.btn-danger:hover{
  background-color: #24B8AA !important;
  border-color: #24B8AA !important;
  color:#ccc !important;
}

.btn-danger a:hover{
  color:#ccc !important;
}

.btn-info{
  background-color: #24B8AA;
  border-color: #24B8AA;
}

.btn-info:hover{
  background-color: #24B8AA;
  border-color: #24B8AA;
  color:black;
}

.btn-info:active{
  background-color: #24B8AA;
  border-color: #24B8AA;
  color:black;
}

.btn-filtro{
  background-color: white !important;
  color:#24B8AA  !important;
  border:1px solid #24B8AA !important;
}

.btn-filtro:hover{
  background-color: #24B8AA !important;
  color:white !important;
  border:1px solid #24B8AA !important;
}

.filtro-active{
  background-color: #24B8AA !important;
  color:white !important;
  border:1px solid #24B8AA !important;
}



.text-danger{
  color:#24B8AA !important; 
}


/* COMMENT */
.comment{
  margin-top: 5px;
  font-size: 1.25rem;
  width:100%;
  
}

.comments{
  margin-bottom: 10px;
  margin-left: -15px;
}
.commentContent{
  background:rgb(255, 255, 255) none repeat scroll 0% 0%;
  border-radius: 3px;
  box-shadow:
  rgba(37, 42, 49, 0.16) 0px 0px 2px 0px,
  rgba(37, 42, 49, 0.12) 0px 1px 4px 0px;
  outline: currentcolor none 0px;
  transition: box-shadow 0.15s ease-in-out 0s;
  padding:5px 20px 5px 20px;
}

.commenttitle{
  font-size: 1.4rem;
  font-weight: bold;
  margin-top:20px;
}


.sendrating {

}


.ratingscomments{
  line-height:2px !important;
  font-size: 12px;
  color:rgba(0, 0, 0, 0.54);
  margin-left: 5px;
}

.starsComment span{
  font-size: 12px;
}

.starsComment{
  line-height:2px !important;
  padding: 0 1px 0 15px;
  margin-top:3px;
}

.userComment{
  margin-right:10px;
  font-weight: bold;
  white-space: pre-wrap;
}

.fechaComment{
  color:#888;
  font-size: 1rem;
}

.comentariotextarea{
  font-size: 1.5rem;
  margin-top: 5px;
  white-space: pre-line;
}

.p_comment{
  margin:0;
  padding:0;
  min-height: 10px;
}

.h-500{
  height: 200px;
}

.h-600{
  height: 512px;
}

.h-700{
  height: 582px;
}
.derecharuta{
  min-height: 400px;
}


/********************/
/*SEARCH*/

/*FIN SEARCH*/
.dropdown-menu {
  right: 0;
  left: auto !important;
}

.navbar-nav .nav-link{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  font-size: 1.3rem !important;
  border-top: none;
}

.navbar-nav .nav-link:hover{
  border-top:none;
  border-bottom:none;
  color:#24B8AA !important;
}
.navbar-nav .nav-link.active{
  border-top:none !important;
  border-bottom:none;
  color:#24B8AA !important;
}


/*******************************/

.lovelo_home{
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.5;
}

.h1_home{
  font-weight: bold;
  margin-top: 80px;
}

.h1_dona{
  font-weight: bold;
  margin-top: 10px;
}

.home a{
  font-size: 1.2rem;
}
.home{
  color:#6c757d;
}

.forgot{
  font-size: 1.5rem;
  line-height: 1.5;
}

.icon-km{
  background-color: white;
  border: 1px solid #ccc;
  font-size: 8px;
  width: 20px;
  padding: 1px 5px 2px 2px;
}

.icon-km1{
  background-color: white;
  border: 1px solid #ccc;
  font-size: 8px;
  width: 20px;
  padding: 1px 5px 2px 5px;
}

.surfacePercent div{
  width: 24px;
  height: 24px;
  margin:0px 5px 0 0;
  line-height: 24px;
  text-align: center;
  color:white;
  font-size: 0.9rem;
  
}

.surfacePercent{
  display:flex;
  flex-wrap: wrap;
  height: 24px;
  line-height: 24px;
  margin-top:5px !important;
  
}
.surfacePercent label{
  font-weight: bold;
  margin-right: 5px;
  color: #495057;
  font-size: 1.1rem;
}

.surfacePercent span{
  font-size: 1.1rem;
  color: #999;
}


.leaflet-container .leaflet-control-attribution{
  background-color: transparent !important;
}

.DatoWaytype{
  margin: 12px 10px 0 0px;
  height: 2px !important;
  width: 30px !important;
}

.fondoColores{
  background: linear-gradient(to right,  #9c9e9f 0%,#ff9900 50%,#aaaaaa 80%,#f6f6f6 100%);
}


.brand{
  display: flex;
  align-items: center;
  border:none;
  letter-spacing:.5px;
}

.fs-9{
  font-size: 1rem;
}

.inputField {
  margin: 10px 0;
  padding: 5px 7px;
}

.form2 {
  display: flex;
  flex-direction: column;
}

.container2 {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.infocontact{
  font-size: 1.5rem;
  margin-bottom: 5px;
  color:#24B8AA;

}

.faqs{
  visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;
}

.faq_area {
  position: relative;
  z-index: 1;
  background-color: #f5f5ff;
}

.faq-accordian {
  position: relative;
  z-index: 1;
}
.faq-accordian .card {
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
  margin-bottom: 0;
}
.faq-accordian .card .card-header {
  background-color: #ffffff;
  padding: 0;
  border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
  cursor: pointer;
  padding: 1.75rem 2rem;
  color: #3f43fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
  font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
  color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
  padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
  .support-button p {
      font-size: 14px;
  }
}

.support-button i {
  color: #3f43fd; 
  font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
  .support-button i {
      font-size: 1rem;
  }
}

.support-button a {
  text-transform: capitalize;
  color: #2ecc71;
}
@media only screen and (max-width: 575px) {
  .support-button a {
      font-size: 13px;
  }
}

.news p{
  font-size: 1.5rem;
}

.news li{
  font-size: 1.2rem;
}

.image-gallery-image{
  max-height: calc(40vh - 30px) !important;
}

.fullscreen .image-gallery-image{
  max-height: calc(100vh - 50px) !important;
}



.image-gallery-thumbnail.active{
  border: 1px solid #337ab7 !important;
}
.image-gallery-thumbnail:hover{
  border: 1px solid #337ab7 !important;
}

.image-gallery-thumbnail{
  height: 20px;
  width: 20px !important;
}
.image-gallery-thumbnail-inner, .image-gallery-thumbnail-image{
  height: 18px;
  width: 18px !important;
}